<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
	      id="elt.eltview"
	      name="%extension.name"
	      point="org.eclipse.ui.views">
	  <view
	         name="%view.name"
	         class="elt.ELTView"
	         id="elt.ELTView">
	  </view>
	  <view
	         name="%view.name.0"
	         class="elt.EventView"
	         id="elt.EventView">
	  </view>
	  <view
	         name="%view.name.1"
	         class="elt.DataView"
	         id="elt.DataView">
	  </view>
	  <view
	         name="%view.name.2"
	         class="elt.CodeView"
	         id="elt.CodeView">
	  </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <view
                  id="elt.ELTView"
                  relative="org.eclipse.ui.navigator.ProjectExplorer"
                  relationship="stack">
	  		</view>
	  		<view
		           id="elt.EventView"
		           ratio="0.65"
		           relationship="bottom"
		           relative="elt.ELTView">
	  		</view>
	  		<view
		           id="elt.DataView"
		           ratio="0.5"
		           relationship="right"
		           relative="elt.ELTView">
	  		</view>
	  		<view
                  id="elt.CodeView"
                  relative="org.eclipse.ui.console.ConsoleView"
                  relationship="stack">
	  		</view>
      </perspectiveExtension>
   </extension>
</plugin>
