<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
	      id="elt.eltview"
	      name="%extension.name"
	      point="org.eclipse.ui.views">
	  <view
	         name="%view.name"
	         class="elt.EventViewer.ELTView"
	         id="org.eclipse.ui.elt.ELTView">
	  </view>
	  <view
	         name="%view.name.0"
	         class="elt.EventViewer.EventView"
	         id="org.eclipse.ui.elt.EventView">
	  </view>
	  <view
	         name="%view.name.1"
	         class="elt.EventViewer.DataView"
	         id="org.eclipse.ui.elt.DataView">
	  </view>
	  <view
	         name="%view.name.2"
	         class="elt.EventViewer.CodeView"
	         id="org.eclipse.ui.elt.CodeView">
	  </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
            <view
                  id="org.eclipse.ui.elt.ELTView"
                  relative="org.eclipse.ui.navigator.ProjectExplorer"
                  relationship="stack">
	  		</view>
	  		<view
		           id="org.eclipse.ui.elt.EventView"
		           ratio="0.65"
		           relationship="bottom"
		           relative="org.eclipse.ui.elt.ELTView">
	  		</view>
	  		<view
		           id="org.eclipse.ui.elt.DataView"
		           ratio="0.5"
		           relationship="right"
		           relative="org.eclipse.ui.elt.ELTView">
	  		</view>
	  		<view
                  id="org.eclipse.ui.elt.CodeView"
                  relative="org.eclipse.ui.console.ConsoleView"
                  relationship="stack">
	  		</view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="elt.ErrorPerspective"
            fixed="false"
            id="org.eclipse.ui.elt.ErrorPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="elt.ControllerInteraction.ControllerEditor"
            default="false"
            id="org.eclipse.ui.elt.ControllerEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="elt.ControllerInteraction.ControllerElementFactory"
            id="org.eclipse.ui.elt.ControllerElementFactory">
      </factory>
   </extension>
</plugin>
